.additional-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 979px) {
    border-top: 1px solid $gray10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__item {
    flex-grow: 1;

    @media screen and (max-width: 979px) {
      border-right: 1px solid $gray10;
    }
  }
}
