.additional-menu {
  @include clean-ul;
  display: flex;
  justify-content: space-around;

  @media screen and (mediaDown($desktopDown)) {
    background-color: $white;
    border-top: 1px solid $gray10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &__item {
    flex-grow: 1;

    @media screen and (mediaDown($desktopDown)) {
      border-right: 1px solid $gray10;
    }
  }

  &__item:nth-child(2) {
    @media screen and (mediaUp($desktopUp)) {
      padding-left: 34px;
    }
  }

  &__item:last-child {
    @media screen and (mediaUp($desktopUp)) {
      order: -1;
    }
  }

  &__item:first-child {
    @media screen and (mediaUp($desktopUp)) {
      order: 1;
    }
  }
}

