.additional-menu {
  @include clean-ul;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 979px) {
    background-color: $white;
    border-top: 1px solid $gray10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &__item {
    flex-grow: 1;

    @media screen and (max-width: 979px) {
      border-right: 1px solid $gray10;
    }
  }

  &__item:nth-child(2) {
    padding-left: 34px;
  }
}
