.alert {
  background-color: $gray3;
  border: 1px solid $gray20;
  box-sizing: border-box;
  color: $gray80;
  display: none;
  font-size: 15px;
  line-height: 24px;
  padding: 16px 24px;

  &__desc {
    margin: 0;
  }

  &_info {
    color: $blue70;
    background-color: $blue5;
    border: 1px solid $blue20;
  }

  &_success {
    color: $mint70;
    background-color: $mint5;
    border: 1px solid $mint20;
  }

  &_warning {
    color: $gold70;
    background-color: $gold5;
    border: 1px solid $gold20;
  }

  &_danger {
    color: $accent70;
    background: $accent5;
    border: 1px solid $accent20;
  }

  &_show {
    display: block;
  }
}
