.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &_menu {
    @media screen and (max-width: 979px) {
      background-color: $gray3;
    }
  }

  &_email,
  &_menu,
  &_search {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (max-width: 979px) {
      width: 100%;
    }
  }

  &_accent {
    color: $white;
    padding: 16px 28px;
    position: relative;
    background-image: linear-gradient(to bottom, $accent40, $accent40 50%, $accent50 50%, $accent50);
    background-position: 0 100%;
    background-size: 100% 200%;
    transition: background .3s ease-in;

    &:hover {
      background-position: 0 0;
      transition: background .3s ease-in;
    }

    &:focus {
      outline: none;

      &:before {
        content: '';
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        border: 1px solid $accent20;
      }
    }

    &:active {
      //background-color: $accent40;

      //&:before,
      //&:after {
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //  width: 56px;
      //}
      //&:before {}
      //&:after {}
    }

    &:disabled {
      background-color: $accent20;
    }
  }

}
