.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &_menu {
    @media screen and (max-width: 979px) {
      background-color: $gray3;
    }

    @media screen and (min-width: 980px) {
      display: none;
    }
  }

  &_email,
  &_menu,
  &_search {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (max-width: 979px) {
      width: 100%;
    }
  }

  &_accent,
  &_secondary,
  &_muted,
  &_x {
    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px $accent20;
      outline: none;
    }
  }

  &_accent,
  &_secondary,
  &_muted {
    color: $white;
    padding: 16px 28px;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      top: -100%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -2;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51%;
      right: 51%;
      z-index: -1;
    }

    &:hover:before {
      transition: transform .3s linear;
      transform: translateY(50%);
    }

    &:active:after {
      animation-name: active;
      animation-duration: .1s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    &:disabled {
      cursor: no-drop;
    }
  }

  &_accent {
    &:before {
      background-image: linear-gradient(to bottom, $accent40, $accent40 50%, $accent50 50%, $accent50);
    }

    &:after {
      background-color: $accent50;
    }

    &:disabled {
      background-color: $accent20;
    }
  }

  &_secondary {
    &:before {
      background-image: linear-gradient(to bottom, $gray70, $gray70 50%, $gray80 50%, $gray80);
    }

    &:after {
      background-color: $gray80;
    }

    &:disabled {
      background-color: $gray20;
    }
  }

  &_muted {
    color: $gray80;

    &:before {
      background-image: linear-gradient(to bottom, $gray1, $gray1 50%, $gray3 50%, $gray3);
    }

    &:after {
      background-color: $gray3;
    }

    &:disabled {
      background-color: $gray3;
    }
  }

  &_close-modal {
    background-color: $gray70;
    padding: 18px 52px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @media screen and (min-width: 640px) and (max-width: 979px) {
      padding: 26px 126px;
    }

    @media screen and (min-width: 980px) {
      display: none;
    }
  }

  &_x {
    width: 56px;
    height: 56px;

    &:hover {
      background-color: $gray3;

      & .svg_x {
        stroke: $gray50;
      }
    }

    &:active {
      background-color: transparent;
    }

    &:disabled {
      background-color: $gray10;
    }

    & .svg_x {
      stroke: $gray20;
    }
  }

}
