.header {
  padding-top: 24px;
  position: relative;

  @media screen and (max-width: 979px) {
    background-image: url("/images/bg-header.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
  }

  @media screen and (min-width: 640px) {
    padding-top: 48px;
  }

  @media screen and (min-width: 980px) {
    padding-top: 12px;

    &_full-desktop-up {
      min-height: 100vh;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 980px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__link-logo {
    align-self: center;
    width: 92px;
  }

  &__nav {
    @media screen and (max-width: 979px) {
      display: none;
      background-color: $gray80;
      padding: 24px 20px;
    }

    @media screen and (min-width: 980px) {
      & > .list-menu {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__nav_open-js {
    @media screen and (max-width: 979px) {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      overflow-y: auto;
    }
  }

  &__nav_hidden-js {
    display: none;
  }

  &__form-search {
    display: none;

    @media screen and (min-width: 980px) {
      font-size: 0;
    }
  }

  &__form-search_open-js {
    display: block;

    @media screen and (max-width: 979px) {
      background-color: transparentize($gray80, 0.4);
      padding: 24px 20px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      overflow-y: auto;
    }

    @media screen and (min-width: 980px) {
      width: 525px;
    }
  }

  &__form-row {
    position: relative;
  }

  &__form-input-search {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 28px;
    padding: 14px 24px;

    @media screen and (max-width: 979px) {
      width: 100%;
    }

    @media screen and (min-width: 980px) {
      background: $gray3;
      border: none;
      margin-right: 5px;
      width: 400px;
    }
  }

  &__form-submit {
    @media screen and (max-width: 979px) {
      position: absolute;
      right: 18px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    @media screen and (min-width: 980px) {
      color: $white;
      padding: 16px 28px;
      position: relative;
      overflow: hidden;
      z-index: 0;

      &:before {
        background-image: linear-gradient(to bottom, $gray70, $gray70 50%, $gray80 50%, $gray80);
        content: '';
        position: absolute;
        top: -100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
      }

      &:after {
        background-color: $gray80;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 51%;
        right: 51%;
        z-index: -1;
      }

      &:hover:before {
        transition: transform .3s linear;
        transform: translateY(50%);
      }

      &:active:after {
        animation-name: active;
        animation-duration: .1s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      &:disabled {
        background-color: $gray20;
        cursor: no-drop;
      }

      & .svg {
        display: none;
      }
    }
  }

  &__form-text-submit {
    @media screen and (max-width: 979px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__form-wrap {
    @media screen and (max-width: 979px) {
      background-color: $gray80;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 48px;

      & .btn_close-modal {
        padding: 12px 50px;
        left: auto;
        z-index: 1;
      }
    }
  }

  &__write-us {
    display: none;
  }

}


