.header {
  padding-top: 24px;

  @media screen and (max-width: 979px) {
    background-image: url("/images/bg-header.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
  }

  @media screen and (min-width: 980px) {
    &_full-desktop-up {
      min-height: 100vh;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 980px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__link-logo {
    align-self: center;
    width: 92px;
  }

  &__nav {
    @media screen and (max-width: 979px) {
      display: none;
      background-color: $gray80;
      padding: 24px 20px;
    }

    @media screen and (min-width: 980px) {
      & .list-menu {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__nav_open-js {
    @media screen and (max-width: 979px) {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      overflow-y: auto;
    }
  }

  &__form-search {
    display: none;
  }

  &__form-search_open-js {
    @media screen and (max-width: 979px) {
      background-color: transparentize($gray80, 0.4);
      display: block;
      padding: 24px 20px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      overflow-y: auto;
    }
  }

  &__form-row {
    position: relative;
  }

  &__form-input-search {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 28px;
    padding: 14px 24px;
    width: 100%;
  }

  &__form-submit {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__form-text-submit {
    @media screen and (max-width: 979px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__form-wrap {
    @media screen and (max-width: 979px) {
      background-color: $gray80;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 48px;

      & .btn_close-modal {
        padding: 12px 50px;
        left: auto;
        z-index: 1;
      }
    }
  }

  &__write-us {
    display: none;
  }

}


