.list-menu {
  @include clean-ul;

  @media screen and (max-width: 979px) {
    padding-bottom: 67px;
  }

  &__item {
    text-align: center;

    @media screen and (max-width: 979px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width:980px) {
      margin-right: 24px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &:hover:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 20px;
      }

      &:hover .list-menu_submenu {
        display: flex;
      }

      &:hover .list-menu__wrap-submenu {
        display: block;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;

    @media screen and (max-width: 979px) {
      display: block;
      color: $white;
      padding: 16px 10px;
    }

    @media screen and (min-width: 640px) and (max-width: 979px) {
      padding: 20px 10px;
    }

    @media screen and (min-width: 980px) {
      color: $black;
      font-size: 12.5px;
      line-height: 20px;
    }
  }

  &__link_active {
    @media screen and (max-width: 979px) {
      background-color: $accent50;
    }
  }

  &__link_triangle-submenu {
    @media screen and (min-width:980px) {
      padding-right: 20px;
      position: relative;
    }
  }

  &__link_triangle-submenu .svg_triangle-down {
    position: absolute;
    right: 0;
    top: -4px;

    @media screen and (max-width: 979px) {
      display: none;
    }
  }

  &__link_main,
  &__link_team,
  &__link_contacts {
    @media screen and (min-width:980px) {
      display: none;
    }
  }

  &__link_about-company {
    @media screen and (max-width: 979px) {
      display: none;
    }
  }

  &__wrap-submenu {
    background-color: $white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    max-height: 440px;
    width: 240px;
    overflow-y: auto;
    z-index: 5;
  }

  &_submenu {
    display: flex;
    flex-direction: column;

    & .list-menu__item {
      margin-right: 0;
      text-align: left;
      padding: 6px 16px;

      &:hover:not(.list-menu__item_active) {
        background-color: $gray5;
      }

      &_active {
        background-color: $gray80;
        color: $white;
      }

      &:hover:before {
        content: none;
      }
    }

    & .list-menu__link {
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      text-transform: none;
      color: inherit;
    }
  }
}
