.os-theme-dark > .os-scrollbar-vertical {
  top: 0;
  bottom: 0;
}

.os-theme-dark > .os-scrollbar:not(.os-scrollbar-unusable) > .os-scrollbar-track {
  background-color: $gray10;
  border-radius: 6px;
  width: 4px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background-color: $gray50;
}

.os-content > .write-us__textarea.os-textarea {
  background-color: $gray3 !important;
  border: none !important;
  padding: 14px 24px !important;

  &:focus {
    background-color: $gray1 !important;
    outline: none !important;
  }

  &:invalid {
    background-color: $accent5 !important;
    border: 1px solid $accent30 !important;
    box-shadow: none !important;
  }
}

.scrollbar-focus-js {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $accent20;
}
