.simplebar {
  &-track.simplebar-vertical {
    background-color: $gray10;
    border-radius: 6px;
    top: 4px;
    bottom: 4px;
    right: 4px;
    width: 4px;
  }

  &-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
  }

  &-scrollbar::before {
    background-color: $gray50;
    border-radius: 6px;
    left: 0;
    right: 0;
    width: 4px;
  }
}
