<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><block name="title">Главная</block> - Спектр - М</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preload" href="fonts/roboto-v20-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-v20-latin_cyrillic-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-v20-latin_cyrillic-500.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-v20-latin_cyrillic-500.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-v20-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-v20-latin_cyrillic-700.woff" as="font" type="font/woff" crossorigin="anonymous">
</head>
<body>
  <block name="header">
    <header>header content</header>
  </block>
  <main class="main">
      <block name="main">
        main content
      </block>
  </main>
  <block name="footer">
    <footer>
      footer content
    </footer>
  </block>
  <script src="js/vendor.bundle.js" defer></script>
  <script src="js/script.js" defer></script>
</body>
</html>
