html,
body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $blue50v;

  &:focus {
    outline: 1px solid $accent20;
  }

  &:hover {
    color: $accent50;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-inline, [hidden], template {
  display: none;
}

.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (mediaUp($tabletUp)) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: $tabletUp;
  }

  @media screen and (mediaUp($desktopUp)) {
    padding-left: 64px;
    padding-right: 64px;
    max-width: $desktopUp;
  }

  @media screen and (mediaUp($desktopUpX)) {
    padding-left: 80px;
    padding-right: 80px;
    max-width: $desktopUpX;
  }

  @media screen and (mediaUp($desktopUpX2)) {
    padding-left: 200px;
    padding-right: 200px;
    max-width: $desktopUpX2;
  }
}

.overflow-hidden {
  overflow: hidden;
}
