$baseFont: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$baseFontSize: 18px;
$baseLineHeight: 1.555555555555556;

//Colors
//main
$white: #fff;
$gray1: #FCFCFC;
$gray2: #F9F9F9;
$gray3: #F6F6F6;
$gray4: #F3F3F3;
$gray5: #F0F0F0;
$gray10: #E6E6E6;
$gray20: #C9C9C9;
$gray30: #ADADAD;
$gray40: #919191;
$gray50: #757575;
$gray60: #5C5C5C;
$gray70: #454545;
$gray80: #2E2E2E;
$gray90: #171717;
$black: #000;
//Accent
$accent5: #F9EEEE;
$accent10: #F8E1DE;
$accent10v: #FDE0DB;
$accent20: #F7BBB1;
$accent20v: #FDB8AE;
$accent30: #F2938C;
$accent30v: #FF8D7B;
$accent40: #E9695F;
$accent40v: #FB5A47;
$accent50: #D83933;
$accent50v: #E52207;
$accent60: #A23737;
$accent60v: #B50909;
$accent70: #6F3331;
$accent70v: #8B0A03;
$accent80: #3E2927;
$accent80v: #5C1111;
$accent90: #1B1616;
//Additional
//blue
$blue5: #EFF6FB;
$blue10: #D9E8F6;
$blue20: #AACDEC;
$blue30: #73B3E7;
$blue30v: #58B4FF;
$blue40: #4F97D1;
$blue40v: #2491FF;
$blue50: #2378C3;
$blue50v: #0076D6;
$blue60: #2C608A;
$blue60v: #005EA2;
$blue70: #274863;
$blue70v: #0B4778;
$blue80: #1F303E;
$blue80v: #112F4E;
$blue90: #11181D;
//mint
$mint5: #DBF6ED;
$mint5v: #C9FBEB;
$mint10: #C7EFE2;
$mint10v: #5DFDC8;
$mint20: #92D9BB;
$mint20v: #0CEDA6;
$mint30: #5ABF95;
$mint30v: #04C585;
$mint40: #34A37E;
$mint50: #1F8462;
$mint60: #286846;
$mint60v: #146947;
$mint70: #204E34;
$mint80: #193324;
$mint90: #0D1A12;
//gold
$gold5: #F5F0E6;
$gold5v: #FEF0C8;
$gold10: #F1E5CD;
$gold10v: #FFE396;
$gold20: #DEC69A;
$gold20v: #FFBE2E;
$gold30: #C7A97B;
$gold30v: #E5A000;
$gold40: #AD8B65;
$gold40v: #C2850C;
$gold50: #8E704F;
$gold50v: #936F38;
$gold60: #6B5947;
$gold70: #4D4438;
$gold80: #322D26;
$gold90: #191714;


